<footer>
    <p>&copy; 2024 Wave Creations</p>
    <div class="social-icons">
        <a href="https://x.com/" target="_blank">
            <img src="/images/icons/x-social-logo.png" alt="X Social Logo" />
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <img src="/images/icons/facebook-black-white-icon.png" alt="Facebook Logo" />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="/images/icons/instagram-logo-white-background.png" alt="Instagram Logo" />
        </a>
    </div>
</footer>
