main {
    padding: 20px;
    padding-left: 40px;
}

/* INDIVIDUAL CARD DETAIL */
.item-detail-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    gap: 20px
}
.item-detail {
    width: 350px; 
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.item-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* DETAIL CONTAINER */
.details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 700px;
    font-size: 14px;
}

.details h2 {
    margin-bottom: 10px; 
}

.details p {
    margin: 5px 0; 
}

.details .action-button {
    display: inline-block;
    margin-right: 10px; 
    margin-top: 10px; 
}

.details .description {
    margin-top: 20px; 
    border-top: 1px solid #ccc; 
    padding-top: 10px; 
    font-size: 13px;
    color: #666; 
}


.action-button {
    background-color: transparent;
    color: #333; 
    border: 2px solid #333; 
    border-radius: 5px; 
    padding: 7px 12px;
    font-size: 14px; 
    text-transform: uppercase; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.action-button:hover {
    background-color: #333; 
    color: #fff; 
}