main {
    padding: 20px;
    padding-left: 30px;
}

main > div {
    margin-bottom: 10px; /* Space between the two divs */
}

/* Main Content Styling */
.content-container {
    display: flex;
    gap: 20px; /* space between the two items */
    align-items: flex-start; 
    margin: 20px 0; 
}

.featured-sell-image-container {
    max-width: 45%;
    height: auto;
    border-radius: 10px; 
}

.form-container {
    width: 55%;
    max-width: 35%;
    /* max-height: 450px; */
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

form label {
    /* margin-bottom: 10px; */
    font-weight: bold;
}

form input, form select, form textarea {
    margin-bottom: 15px;
    padding: 2px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    max-width: 500px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}