<%- include('./partials/header.ejs') %>

<main>
    <h1>OUR PRODUCTION MARKETPLACE.</h1>
    <p>Discover the best software and hardware for your production needs.</p>
    <div class="featured">
        <div class="featured-image-container">
            <img src="/images/gifs/studio-session.gif" alt="Studio Session" class="featured-image">
            <a href="/items" class="browse-button">Browse</a>
        </div>
        <img src="/images/gifs/black-white-recording-music.gif" alt="Cinemagraph" class="featured-image-container">
    </div>
</main>

<%- include('./partials/footer.ejs') %>
