main {
    padding: 20px;
    padding-left: 30px;
}

main > p:first-of-type {
    margin-bottom: 10px;
}

/* CARD LIST */
.item-list{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* INDIVIDUAL CARD */
.item-card {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.item-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image {
    transition: filter 0.3s ease;
}

/* styling to fit the card */
.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 4px; 
    margin-bottom: 10px;
}

.item-card:hover .item-image {
    filter: grayscale(4);
}

.item-image {
    width: 100%;
    height: auto;
    flex: 1;
    object-fit: cover;
    margin-bottom: 10px;
}

.item-title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    text-align: left;
}

.item-condition {
    font-size: 14px;
    color: #888;
    text-align: left;
}

.item-price-offers {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
    font-weight: bold;
}

.item-price {
    color: #333;
    font-size: 14px;
}

.item-seller {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.item-offers {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}